In [35]:
import pandas as pd
import numpy as np
import math
pd.options.display.max_rows = 1000

In [36]:
#from google.colab import drive
#drive.mount('/content/drive')
#path='/Compiled Financial Data - Final2.csv'
#data=pd.read_csv(path)
#data.head()

In [37]:
# read in data
data = pd.read_csv("Final2.csv")
csdata = pd.read_csv("Extracted_data_with_CS.csv")
tdata = pd.read_csv("Transformed_data.xlsx - Sheet1.csv")
print(data.shape)
data.head()

(4194, 61)

,Company_Name,NIF_Code,Legal_Form,Last_Available_Year,Number_of_Available_Years,Date_of_Establishment,Status,CNAE_2009_Code,Company_Age_(years),Balance_Sheet,...,P/L_for_Period,Material_Costs,Cost_of_Employees,Depreciation,Other_Operating_Items,Interest_Paid,Cash_Flow,Added_Value,EBIT,EBITDA
0,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,10,NaN,...,0.0,2652894.61,2564977.97,367114.61,38374.140,0.0,367114.61,2932092.580,0.00,367114.61
1,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,9,NaN,...,0.0,2697406.13,2591671.88,299358.59,-23310.539,0.0,299358.59,2891030.469,0.00,299358.59
2,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,8,NaN,...,0.0,2757338.17,2489580.71,177070.75,-120970.080,0.0,177070.75,2666651.460,0.00,177070.75
3,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,7,NaN,...,0.0,3307726.16,2329079.76,201251.05,-72405.120,0.0,201251.05,2530330.809,0.00,201251.05
4,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,6,NaN,...,0.0,2755431.48,2300754.30,216744.79,-83309.769,0.0,216744.79,2517499.090,-234.76,216510.03

In [38]:
# calculating change in working capital
data['Change_in_Working_Capital'] = 0
nif = 'placehold_code'
for i in range(0, len(data)):
    if data.loc[i, 'NIF_Code'] == nif:
        data.loc[i-1, 'Change_in_Working_Capital'] = data.loc[i-1, 'Working_Capital'] - data.loc[i, 'Working_Capital']
    else:
        nif = data.loc[i, 'NIF_Code']

data.head()

,Company_Name,NIF_Code,Legal_Form,Last_Available_Year,Number_of_Available_Years,Date_of_Establishment,Status,CNAE_2009_Code,Company_Age_(years),Balance_Sheet,...,Material_Costs,Cost_of_Employees,Depreciation,Other_Operating_Items,Interest_Paid,Cash_Flow,Added_Value,EBIT,EBITDA,Change_in_Working_Capital
0,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,10,NaN,...,2652894.61,2564977.97,367114.61,38374.140,0.0,367114.61,2932092.580,0.00,367114.61,76631.740
1,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,9,NaN,...,2697406.13,2591671.88,299358.59,-23310.539,0.0,299358.59,2891030.469,0.00,299358.59,-289071.260
2,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,8,NaN,...,2757338.17,2489580.71,177070.75,-120970.080,0.0,177070.75,2666651.460,0.00,177070.75,7046.510
3,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,7,NaN,...,3307726.16,2329079.76,201251.05,-72405.120,0.0,201251.05,2530330.809,0.00,201251.05,460381.009
4,ZUGAZTEL_M.P._SOCIEDAD_ANONIMA.,A95584835,Public_limited_company,31/12/2019,11.0,30/09/2009,Active,6203,6,NaN,...,2755431.48,2300754.30,216744.79,-83309.769,0.0,216744.79,2517499.090,-234.76,216510.03,0.000

In [39]:
# calculating logs
data['Log_Tangible_Fixed_Assets'] = np.log10(data['Tangible_Fixed_Assets'])
data['Log_EBIT'] = np.log10(data['EBIT'])

/Users/aaronkamal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/aaronkamal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: invalid value encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [40]:
# to be used for PUBLIC companies
def Z_Alt(x,y):
    zalt = 1.2 * (x['Working_Capital'] / x['Total_Assets']) + 1.4 * (y['RETAINED_EARNINGS'] / x['Total_Assets']) + 3.3 * (x['EBIT'] / x['Total_Assets']) + 0.6 * (x['Shareholders_Funds'] / (x['Current_Liabilities'] + x['Non_Current_Liabilities'])) + 0.99 * (x['Operating_Revenue/Turnover'] / x['Total_Assets'])
    return zalt

In [41]:
# to be used for companies NOT ON STOCK EXCHANGE
def Z1_Alt(x,y):
    z1alt = 0.717 * (x['Working_Capital'] / x['Total_Assets']) + 0.847 * (y['RETAINED_EARNINGS'] / x['Total_Assets']) + 3.107 * (x['EBIT'] / x['Total_Assets']) + 0.42 * (x['Shareholders_Funds'] / (x['Current_Liabilities'] + x['Non_Current_Liabilities'])) + 0.998 * (x['Operating_Revenue/Turnover'] / x['Total_Assets'])
    return z1alt

In [42]:
# to be used for STARTER companies
def Z2_Alt(x,y):
    z2alt = 6.56 * (x['Working_Capital'] / x['Total_Assets']) + 3.26 * (y['RETAINED_EARNINGS'] / x['Total_Assets']) + 6.72 * (x['EBIT'] / x['Total_Assets']) + 1.05 * (x['Shareholders_Funds'] / (x['Current_Liabilities'] + x['Non_Current_Liabilities']))
    return z2alt

In [43]:
# to be used for ALL companies
def Ful(x,y):
    ful = 5.528 * (y['RETAINED_EARNINGS'] / x['Total_Assets']) + 0.212 * (x['Operating_Revenue/Turnover'] / x['Total_Assets']) + 0.073 * (x['P/L_before_Tax'] / x['Shareholders_Funds']) + 1.27 * ((x['Operating_Revenue/Turnover'] + x['Depreciation'] + x['Taxation'] + x['Change_in_Working_Capital']) / (x['Current_Liabilities'] + x['Non_Current_Liabilities'])) + 0.12 * ((x['Current_Liabilities'] + x['Non_Current_Liabilities']) / x['Total_Assets']) + 2.335 * (x['Current_Liabilities'] / x['Total_Assets']) + 0.575 * (x['Log_Tangible_Fixed_Assets']) + 1.083 * (x['Working_Capital'] / (x['Current_Liabilities'] + x['Non_Current_Liabilities'])) + 0.894 * (x['Log_EBIT'] / x['Financials_Expenses']) - 6.075
    return ful

In [44]:
# to be used for ALL companies
def Spr(x,y):
    spr = 1.3 * (x['Working_Capital'] / x['Total_Assets']) + 3.07 * (x['EBIT'] / x['Total_Assets']) + 0.66 * (x['P/L_before_Tax'] / x['Current_Liabilities']) + 0.4 * (x['Operating_Revenue/Turnover'] / x['Total_Assets'])
    return spr

In [45]:
# to be used for MANUFACTURING companies
def CA(x,y):
    ca = 4.5913 * (x['Shareholders_Funds'] / x['Total_Assets']) + 4.5080 * ((x['P/L_before_Tax'] - x['Extraordinary_P/L'] + x['Financials_Expenses']) / x['Total_Assets']) + 0.3936 * (x['Operating_Revenue/Turnover'] / x['Total_Assets']) - 2.766
    return ca

In [46]:
# to be used for ALL companies
def Kan(x,y):
    kan = 0.05 * (x['P/L_for_Period'] / x['Shareholders_Funds']) + 1.65 * ((x['Current_Assets'] + x['Fixed_Assets']) / (x['Current_Liabilities'] + x['Non_Current_Liabilities'])) + 3.55 * ((x['Current_Assets'] - x['Stocks']) / x['Current_Liabilities']) - 1.06 * (x['Current_Assets'] / x['Current_Liabilities']) - 0.33 * ((x['Current_Liabilities'] + x['Non_Current_Liabilities']) / x['Total_Assets']) 
    return kan

In [47]:
data['Z_Alt'] = Z_Alt(data, tdata)

In [48]:
data['Z_Alt_Category'] = " "

for i in range(0, len(data)):
    if data.loc[i, 'Z_Alt'] < 1.82:
        data.loc[i, 'Z_Alt_Category'] = "Bankruptcy Imminent"
    elif data.loc[i, 'Z_Alt'] < 2.8:
        data.loc[i, 'Z_Alt_Category'] = "Bankruptcy Probable"
    elif data.loc[i, 'Z_Alt'] < 3.0:
        data.loc[i, 'Z_Alt_Category'] = "Bankruptcy Possible"
    else:
        data.loc[i, 'Z_Alt_Category'] = "Bankruptcy Improbable"

In [49]:
data['Z1_Alt'] = Z1_Alt(data, tdata)

In [50]:
data['Z1_Alt_Category'] = " "

for i in range(0, len(data)):
    if data.loc[i, 'Z1_Alt'] < 1.24:
        data.loc[i, 'Z1_Alt_Category'] = "Bankruptcy Imminent"
    elif data.loc[i, 'Z1_Alt'] < 2.8:
        data.loc[i, 'Z1_Alt_Category'] = "Bankruptcy Probable"
    elif data.loc[i, 'Z1_Alt'] < 2.99:
        data.loc[i, 'Z1_Alt_Category'] = "Bankruptcy Possible"
    else:
        data.loc[i, 'Z1_Alt_Category'] = "Bankruptcy Improbable"

In [51]:
data['Z2_Alt'] = Z2_Alt(data, tdata)

In [52]:
data['Z2_Alt_Category'] = " "

for i in range(0, len(data)):
    if data.loc[i, 'Z2_Alt'] < 1.11:
        data.loc[i, 'Z2_Alt_Category'] = "Bankruptcy Imminent"
    elif data.loc[i, 'Z2_Alt'] < 2.4:
        data.loc[i, 'Z2_Alt_Category'] = "Bankruptcy Probable"
    elif data.loc[i, 'Z2_Alt'] < 2.6:
        data.loc[i, 'Z2_Alt_Category'] = "Bankruptcy Possible"
    else:
        data.loc[i, 'Z2_Alt_Category'] = "Bankruptcy Improbable"

In [53]:
data['Ful'] = Ful(data, tdata)

In [54]:
data['Ful_Category'] = " "

for i in range(0, len(data)):
    if data.loc[i, 'Ful'] < 0:
        data.loc[i, 'Ful_Category'] = "Insolvent"
    else:
        data.loc[i, 'Ful_Category'] = "Improbable"

In [55]:
data['Spr'] = Spr(data, tdata)

In [56]:
data['Spr_Category'] = " "

for i in range(0, len(data)):
    if data.loc[i, 'Spr'] < 0.86:
        data.loc[i, 'Spr_Category'] = "Insolvent"
    else:
        data.loc[i, 'Spr_Category'] = "Improbable"

In [57]:
data['Ca'] = CA(data, tdata)

In [58]:
data['Ca_Category'] = " "

for i in range(0, len(data)):
    if data.loc[i, 'Ca'] < -0.3:
        data.loc[i, 'Ca_Category'] = "Insolvent"
    else:
        data.loc[i, 'Ca_Category'] = "Improbable"

In [59]:
data['Kan'] = Kan(data, tdata)

In [60]:
data['Kan_Category'] = " "

for i in range(0, len(data)):
    if data.loc[i, 'Kan'] < -3:
        data.loc[i, 'Kan_Category'] = "Insolvent"
    elif data.loc[i, 'Kan'] < 0:
        data.loc[i, 'Kan_Category'] = "Undefined"
    else:
        data.loc[i, 'Kan_Category'] = "Improbable"

In [61]:
# reduce the companies formulas to what they should be
for i in range(0, len(data)):

  # remove non-public companies from Z_Alt
  if data.loc[i, 'Legal_Form'] != 'Public_limited_company':
    data.loc[i, 'Z_Alt'] = math.nan
    data.loc[i, 'Z_Alt_Category'] = 'Not Applicable'

  # remove public companies from Z1_Alt
  if data.loc[i, 'Legal_Form'] == 'Public_limited_company':
    data.loc[i, 'Z1_Alt'] = math.nan
    data.loc[i, 'Z1_Alt_Category'] = 'Not Applicable'

  # remove non starter categories from non-starter companies
  if data.loc[i, 'Number_of_Available_Years'] >= 4:
    data.loc[i, 'Z2_Alt'] = math.nan
    data.loc[i, 'Z2_Alt_Category'] = 'Not Applicable'

In [62]:
# print the categories
print(data['Z_Alt_Category'].value_counts())
print("\n")
print(data['Z1_Alt_Category'].value_counts())
print("\n")
print(data['Z2_Alt_Category'].value_counts())
print("\n")
print(data['Ful_Category'].value_counts())
print("\n")
print(data['Spr_Category'].value_counts())
print("\n")
print(data['Ca_Category'].value_counts())
print("\n")
print(data['Kan_Category'].value_counts())

Not Applicable           3165
Bankruptcy Improbable     454
Bankruptcy Imminent       285
Bankruptcy Probable       239
Bankruptcy Possible        51
Name: Z_Alt_Category, dtype: int64


Bankruptcy Improbable    1291
Bankruptcy Probable      1081
Not Applicable           1029
Bankruptcy Imminent       670
Bankruptcy Possible       123
Name: Z1_Alt_Category, dtype: int64


Not Applicable           4004
Bankruptcy Imminent        91
Bankruptcy Improbable      79
Bankruptcy Probable        16
Bankruptcy Possible         4
Name: Z2_Alt_Category, dtype: int64


Improbable    3752
Insolvent      442
Name: Ful_Category, dtype: int64


Improbable    2944
Insolvent     1250
Name: Spr_Category, dtype: int64


Improbable    2249
Insolvent     1945
Name: Ca_Category, dtype: int64


Improbable    4145
Undefined       38
Insolvent       11
Name: Kan_Category, dtype: int64

In [63]:
data['Credit_score'] = csdata['Credit_score']
data['CS_Category_Type'] = csdata['Category_type']
data.head()
data.to_csv("data.csv")

In [64]:
print(data['CS_Category_Type'].value_counts())

Fair         1544
Good         1279
Poor          974
Very Good     389
Excellent       8
Name: CS_Category_Type, dtype: int64